All about data type pyhton

In [31]:
#numeric data type
nil = 10     #int
niloy = 10.5 #float
nilu = 10+5j #complex 10 is real number and 5j is imaginary
  
print(type(nil))
print(type(niloy))
print(type(nilu)) 

isinstance(nil,int) #isinstance mean true or false result

isinstance(niloy,float)

isinstance(nilu,complex)

<class 'int'>
<class 'float'>
<class 'complex'>

True

In [32]:
N = 10 #int to float convert data
print(float(10))

10.0

In [33]:
M = 10.0 #float to int convert data
print(int(M))

10

In [34]:
k = 5 +2j #complex to int or float not work
#print(float(k))

In [35]:
A = 10 #int to complex 
print(complex(A))

(10+0j)

In [36]:
B = 10.5 # float to complex 
print(complex(B))

(10.5+0j)

In [37]:
#X = complex(input("enter your complex number")) #complex type data user input result work 
#print(X)

In [ ]:
#X = int(input("enter your int number")) #int type data user input result work
# = int(input("enter your 2nd int number"))
#print(X + Y)

20

In [39]:
#X =float(input("enter your float number")) # float type data user input result work
#print(X)

Boolean type data python True and False

In [42]:
#boot type data
y =True
x = False 
print(y)
print(x)

True
False

In [46]:
#example bool type data False  operators == 
she = 10 
he = 5
print(she==he)

False

In [44]:
#example bool type data True operators ==
hi = "i'm programer"
hlw = "i'm programer"
print(hi==hlw)

True

In [47]:
yes = 100 #bool type data > and < operators  
no = 50
print(100<50)

False

In [49]:
we = 100 #bool type data not equal != operators
all = 70 
print(we!=all)

True

In [50]:
her = 100 #bool type data  big but equal <= operators
his = 500
print(her<=his)

True

In [57]:
oi = 500 # bool type data same variable use and operators
hmm = 500 
print (oi and hmm)

500

Set and Sequences type data python

In [59]:
#list all data work int ,list,float,complex,str,bool,index   sytx[]
her_name = [10,[1,2,3,4,5],10.5,5+1j,"sapnil saha niloy",True]
print(her_name)

[10, [1, 2, 3, 4, 5], 10.5, (5+1j), 'sapnil saha niloy', True]

In [73]:
print(her_name[4]) # list work str data result str index

sapnil saha niloy

In [67]:
print(her_name[1][3])# list data list index again list index

4

In [75]:
print(her_name[3]) # list work complex data result complex index

(5+1j)

In [76]:
print(her_name[-1]) #last index mean -1

True

In [77]:
print(type(her_name ))

<class 'list'>

Tuple ( ) type data python

In [78]:
T = ( 1,2,3,4,"AI") #int data str data
print(type(T))

<class 'tuple'>

In [81]:
print(T[0:3])# 0:3 mean tuple type data index 0 too 3

(1, 2, 3)

Range data python

In [82]:
WW = range(15) # (15) mean this varialbe range o index to 15
print(WW)

range(0, 15)

In [83]:
for i in WW:  #loop 0 to 15 range
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [85]:
ZZ = range(5,15) #say 5 too 15 loop range
for i in ZZ:
    print(i)

5
6
7
8
9
10
11
12
13
14

In [88]:
JJ =range(4,20,3)# 3 mane after change 3 loop
for i in JJ:
    print(i)

4
7
10
13
16
19

In [92]:
PP =range(20,0,-3) #reversed loop range -3 mane last to fast
for i in PP:
    print(i)

20
17
14
11
8
5
2

python array

In [7]:
import array as ar # array just one type data stored suppose list or tuple and poin i or f or s or b typecode 
ML = ar.array("i",[ 1,2,3,4]) # array () "i" mane int typecode 
print(ML)

array('i', [1, 2, 3, 4])

Python Set { }

In [8]:
set = {10,20,30,40,50,} # set { }
print(type(set))

<class 'set'>

Dictionary python { }

In [103]:
#dictionary key : value ,
nil ={
    "clg":"RGC",
    "dept":"science"
}
print(nil)

{'clg': 'RGC', 'dept': 'science'}

In [104]:
nil.keys() # dictionary keys mathods ( )

dict_keys(['clg', 'dept'])

In [106]:
nil.values()# dictionary values mathods ( )

dict_values(['RGC', 'science'])