# Python set type data { } don't change element you set { } var

In [5]:
set1={ 1,2,3,4,2.5,True,"sapnil saha", (10,20,30,40)} #set type data you don't use list type data [ ]
print(type(set1))
print(set1)

<class 'set'>
{1, 2.5, 3, 2, 4, (10, 20, 30, 40), 'sapnil saha'}

In [11]:
li =[1,2,3,4,"sapnil saha",("du","ju"),True,2.5,{"raipuira","narsingdi"}] 
a ={ }
print(type(li)) #list type data 
print(type(a)) #this type dict type data not set type data

<class 'list'>
<class 'dict'>

In [19]:
print(set1)

{1, 2.5, 3, 2, 4, (10, 20, 30, 40), 'sapnil saha'}

In [20]:
#set1[0] #set typy data unoder don't work index result show error

TypeError: 'set' object is not subscriptable

In [21]:
set1.add("my name ai") #set add function use adding something 
print(set1)

{1, 2.5, 3, 2, 4, (10, 20, 30, 40), 'sapnil saha', 'my name ai'}

In [36]:
#update  function set but set dont'n work multipol value just show 1000 one type
set1.update([1000,1000,10,10,"ML"]) #but set.update function( [ ]) [] use this 
print(set1)
print(type(set1))

{1, 3, 2, 4, 10, 'sapnil saha', 'my name ai', 1000, 'ML', (10, 20, 30, 40)}
<class 'set'>

In [37]:
#set type data remove funtion set,remove ("") just one element remove not tow element like set.update("ai","ml")
set1.remove("ML")
set1.remove(10)#remove function just one argument work
#set1.remove(4,"sapnil saha") tow argument not work 
print(set1)

{1, 3, 2, 4, 'sapnil saha', 'my name ai', 1000, (10, 20, 30, 40)}

In [42]:
#set.discrad( ) funtion use to deleted valu 
set1.discard("sapnil saha")
print(set1)

{1, 3, 2, 4, 'my name ai', 1000, (10, 20, 30, 40)}

In [43]:
(10,20,30,40) in set1

True

In [46]:
#set.pop() function just  one element deleted look show result
set1.pop()
print(set1)

{3, 2, 4, 'my name ai', 1000, (10, 20, 30, 40)}

In [48]:
set1.clear() # set.clear function use too all clear

In [49]:
print(set1) # show result set clear function result

set()