python operators test example

In [2]:
# Arithmetic operators test example  + , - , * , /, %, // , ** 
#assinging the variable
x = 8
y = 10
z = 12

In [3]:
print(x+y) # addition operators +

18

In [4]:
print(x-y) #subtration operators -

-2

In [5]:
print ( x * y)#multipication operators *

80

In [6]:
print (x/y)#division operators /

0.8

In [7]:
print (x**y)#expronention ** 8*8*8*8*8*8*8*8*8*8 x=8 y=10

1073741824

In [8]:
print(x//y) #floor division x=8 , y=10  division result 0.8

0

In [9]:
import math #python math libraries
Ml= math.floor (x/y) #division result 0.8 math.floor 0 
print(Ml)

0

In [10]:
ML = math.ceil (x/y) #ceil mean division result 0.8 ceil full number 1
print(ML)

1

In [11]:
#Python identity operator x is y or x is not y result true ,false 
ML = "data"
AI = "science" 
print ( ML is AI ) #result show false bcz var value not same

False

In [12]:
print ( ML is not AI) #result show true bcz var value not same

True

In [13]:
he = "nil"
she = "nil"
print (he == she) #compaer operators

True

In [14]:
a =10000 
b = a
c = 10000
print (a is b)

True

In [15]:
print(a is c)

False

In [16]:
print(a == c)

True

In [17]:
id(a)

1877993700176

In [18]:
id(b)

1877993700176

In [19]:
id(c) # c value id not same so a is c false

1877993700400

membership operators python

In [20]:
name = [ "niloy", "sapnil","saha ", "nil" ]
print( "niloy" in name) #niloy in list data name value so result true

True

In [21]:
print( "nilu" not in name) #nilu is not name list value so result true

True

In [22]:
number = ( 1,2,3,4,"yes")
print(6 in number) #tuple type  mrmbership result

False

In [23]:
str = " my name is ai "
print ( "data" in str ) #str type data membership value result

False

python bitwise operators 
bit mane bynary number result

In [24]:
m = 10
n= 5 
print (m | n) # this result is bynary value but i don't understend

15

In [25]:
print ( m & n)

0

In [26]:
print ( m ==n )

False

In [27]:
print (m>=n)

True

In [28]:
#python logical operators 
niloy = 10 
nilu = 11
print(niloy > 11 and nilu <10 ) # look condition

False

In [29]:
print (niloy>9  or nilu <5 )

True

python assingment operators

In [30]:
zz = 10 
zz += 5 #this mean zz + = with 5 result 15 
print(zz)

15