# Lambda Anonymous Function

In [1]:
#lambda arguments : expression 
def sums(x,y):
    return x + y

In [2]:
sums(10,20)

30

In [3]:
f = lambda x,y : x+y

In [4]:
f(5,10)

15

In [5]:
ff = lambda x : x+x

In [6]:
ff(5)

10

Lambda in higher oreder

In [7]:
def operation_higher(x,y,operation):
    return operation(x,y)

In [8]:
operation_higher(4,5, lambda x,y: x+y )

9

# Lambda with map(),filter(),reduce()

In [9]:
num= [ 1,2,3,4,5,6]
print(num)

[1, 2, 3, 4, 5, 6]

In [10]:
def sq(x):
    return x**x

In [11]:
sq(3)

27

In [19]:
number = [1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

In [20]:
# map(function, iterable objacet)
num1 = list(map(lambda x: x**2,number ))

In [21]:
print(num1)

[1, 4, 9, 16, 25]

In [26]:
a = [1,4,16,25,49]
print(a)

[1, 4, 16, 25, 49]

In [31]:
my = list(filter(lambda a : a%2 == 1, a))

In [32]:
print(my)

[1, 25, 49]

In [35]:
from functools import reduce 
reduce (lambda x,y:x+y,a)

95

In [36]:
sum(a)

95