Python Data Structures list [], set {}, tuples (), dictionary {}

In [1]:
# list data all data type allow 

list1 = [ 1,2,3, 'ml',2.5,2025, ("ai" ,"dl" ,"ml"), { "nil","niloy", "nilu "}]
print(type(list1))

<class 'list'>

In [2]:
#list indexing you know list type data oder mentain this is last index main var [ ]

list1[-1]

{'nil', 'niloy', 'nilu '}

In [3]:
list1 [4]

2.5

In [4]:
list1[0:8]

[1, 2, 3, 'ml', 2.5, 2025, ('ai', 'dl', 'ml'), {'nil', 'niloy', 'nilu '}]

In [5]:
list1[7]

{'nil', 'niloy', 'nilu '}

In [6]:
#list type data value mutable or changeable [ ]

list1 [7] = "my name sapnil saha " #change 7 index element 
print(list1)

[1, 2, 3, 'ml', 2.5, 2025, ('ai', 'dl', 'ml'), 'my name sapnil saha ']

In [7]:
#list append mathods ()

list1.append("try more plz")
print(list1)

[1, 2, 3, 'ml', 2.5, 2025, ('ai', 'dl', 'ml'), 'my name sapnil saha ', 'try more plz']

In [8]:
#again 2.5 float element use to list1 var with append mathods

list1.append(2.5)
print(list1)

[1, 2, 3, 'ml', 2.5, 2025, ('ai', 'dl', 'ml'), 'my name sapnil saha ', 'try more plz', 2.5]

In [9]:
#use just pop mathods list type data var.pop() deleted last element 
#last element 2.5 and seen result 

list1.pop()
print(list1)

[1, 2, 3, 'ml', 2.5, 2025, ('ai', 'dl', 'ml'), 'my name sapnil saha ', 'try more plz']

In [10]:
#deleted element anything list var use pop mathods (index number your element )

list1.pop(3)# index 3 mean "ml" element index number is 3
print(list1)

[1, 2, 3, 2.5, 2025, ('ai', 'dl', 'ml'), 'my name sapnil saha ', 'try more plz']

In [11]:
#Creating list using list construotor
#  
my = list(("niloy",2.5 ,(1,2,3,4,),2030,{10,20,30}))
print(type(my))
print(len(my)) # 5 type data this var my str ,float,tuple, int ,set

<class 'list'>
5

In [12]:
my[4] #(index = len - 1)

{10, 20, 30}

In [13]:
print(my[2][3]) # index 2 mean tuple data (1,2,3,4) [3] mean index 2 tuple data index 3 number = 4 result

4

In [14]:
#input list from user 
#ai = [ ]
#n = int(input("enter you  total index "))
#for i in range(n):
    #new = input() 
    #ai.append(new)
    
#print(ai)