# More about return

In [1]:
def user_input ():
    x1 = int (input("enter your number x1 "))
    x2 = int (input("enter your number x2 "))
    x3 = int (input("enter your number x3 "))
    x4 = int (input("enter your number x4 "))
    return x1*x2*x3*x4

In [6]:
user_input() #2*2*2*2=16

16

In [1]:
def user_input1 ():
    x1 = int (input("enter your number x1 "))
    x2 = int (input("enter your number x2 "))
    x3 = int (input("enter your number x3 "))
    x4 = int (input("enter your number x4 "))
    return (x1,x2),(x3,x4)

In [ ]:
r1 ,r2 = user_input1() # 10,20,30,40

In [4]:
print(r1)

(10, 20)

In [5]:
print(r2)

(30, 40)

In [6]:
R1, _ = user_input1() #1,2,3,4

In [7]:
print (R1)

(1, 2)

In [8]:
def sq_and_cube (x):
    sq= x**2 
    cube= x**3 
    return sq,cube

In [10]:
sq_and_cube(5)

(25, 125)

#  how to use function to functon

In [30]:
def mult():
    x = int(input(" enter your x number"))
    y = int (input("enter your y number"))
    result = x *y
    print ("fast result =" , result)
    return result

In [17]:
mult() # 2*2 =4

fast result = 4

In [31]:
def mult1 ():
    total = mult()
    z =int(input("enter your z number"))
    result1  = total*z
    print ("my final result" , result1 )

In [32]:
mult1() # x =2 ,y=2 = 4 , z =2 *4 = 8

fast result = 4
my final result 8

In [33]:
mult1()

fast result = 100
my final result 200