Data frame python (pandas)

In [1]:
import pandas as pd #new tarminal pip install pandas 

df = pd.read_csv("use-2.1-day-student-dataset.csv") #fast dnlw cvs file and past csv file main folder 
df.head() #this use to rest csv file head show just 0 index to 4

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5

In [3]:
df.shape # not use function ( ) this use to function fast number show row 2nd number show cloumns csv file result

(307, 16)

In [4]:
df.info() #this info mathods data type result show pandas csv file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB

In [5]:
#binary type data
ML =bytearray("ABCDEF","utf-8") #bytearray data function str type data test utf-8
print(type(ML))#result show

<class 'bytearray'>

In [6]:
print(memoryview(ML))# memoryview result show

<memory at 0x0000026742A36BC0>

In [7]:
print(memoryview(ML)[0]) # ML = A index 0 ascii code bynary capital  A 65

65

In [8]:
Ai = memoryview(ML)# Ai var Ml and repleas ml index 0 Ai [0] var
Ai[0]= 97

In [9]:
print(Ai[0])#result Ai var index [0] 97 mean ascii code bynary small a

97

In [10]:
print(bytearray(Ai))#show result small code a

bytearray(b'aBCDEF')