#  perameters vs arguments

# positional argument 
# keyword argument 
# default argument 
# variable length argument

In [7]:
#positional argument
def add_num(x,y):
    result = x + y 
    return result

In [2]:
add_num(10,20)

30

In [3]:
def adding(x , y ):
    result1 = x * y 
    return result1

In [4]:
adding(10,5)

50

In [5]:
def number ( x, y ):
    print (x)

In [6]:
number(10,20)

10

In [9]:
# keyword argument 
def personal(job,income):
    print (job)
    print(income)

In [ ]:
personal("data science",1000000)

data science
1000000

In [16]:
personal(income =1000000, job="data science")

data science
1000000

In [22]:
# default argument 
def myfun(job,income =200000):
    print("job=",job)
    print("income =",income)

In [23]:
myfun('data science',100000)

job= data science
income = 100000

In [28]:
# variable length argument
def mynumber(*x):
    print(x)
    result =sum(x)
    return result

In [29]:
mynumber(10,20,30,40,50)

(10, 20, 30, 40, 50)

150

In [30]:
def you(x,*y):
    print(x)
    print(y)

In [31]:
you(10,20,30,40,50)

10
(20, 30, 40, 50)

# arguments vs keyword argumnets

In [4]:
def personal_data(name,**arg):
    print (name)
    print(arg)
    print(type(arg))
    print(type(name))

In [5]:
personal_data("sapnil saha niloy",colloge = "RGC",city ="narsingdi")

sapnil saha niloy
{'colloge': 'RGC', 'city': 'narsingdi'}
<class 'dict'>
<class 'str'>