Tuple ( ) vs List [ ] tuple type data cannot change elements

In [4]:
t= ( 1, 2.5,True,"sapnil",(1,2,"nil"),[10,"saha",5.5],{"nil saha"})
print(type(t))

<class 'tuple'>

In [5]:
t[-1] #tuple index allow

{'nil saha'}

In [ ]:
#t=t.len() tuple type data not wrok len mathods 
#print(t)

In [12]:
t[0:8] #all index

(1, 2.5, True, 'sapnil', (1, 2, 'nil'), [10, 'saha', 5.5], {'nil saha'})

In [13]:
t1=["nil saha"]
print(type(t1))

<class 'list'>

In [14]:
t2= ("nil saha")
print(type(t2)) # why str ? bcz this not tuple bcz you value dont use comma ( "srt",)

<class 'str'>

In [17]:
t3=("nil saha",)#look i'm use to comma bcz this data type tuple 
print(type(t3)) 
print(t3)
t3[0] #index result tuple "nil saha"

<class 'tuple'>
('nil saha',)

'nil saha'

In [19]:
#tuple to list convert 
l = list(t)
print(type(l))
print(l)

<class 'list'>
[1, 2.5, True, 'sapnil', (1, 2, 'nil'), [10, 'saha', 5.5], {'nil saha'}]

In [21]:
# do you need something value add your tuple data 
#fast convert your tuple data  list type data 
#print(l)
#l.append("ml")
#print(l)
t=tuple(l)
print(type(t))
print(t) # look you tuple data add something "ml"

[1, 2.5, True, 'sapnil', (1, 2, 'nil'), [10, 'saha', 5.5], {'nil saha'}, 'ml']
<class 'tuple'>
(1, 2.5, True, 'sapnil', (1, 2, 'nil'), [10, 'saha', 5.5], {'nil saha'}, 'ml')

In [22]:
x =("nil","nil",1,1,2,2) #duplicat value allowed tuple data
print(type(x))
print (x)

<class 'tuple'>
('nil', 'nil', 1, 1, 2, 2)

In [23]:
y=1,2,3,4,"nil" #don't use ( ) this but this data type tuple 
print(type(y))
print(y)

<class 'tuple'>
(1, 2, 3, 4, 'nil')

In [28]:
y1 = "nil"
print(type(y1)) #why this type str bcz you don't use comma ("str",)
print(y1)

y3 = "nil", # use "str", 
print(type(y3)) # show result tuple
print(y3)
y3[0] #index

<class 'str'>
nil
<class 'tuple'>
('nil',)

'nil'

In [30]:
a = (1,2,3,4)
b = ("nil","sapnil")
c = a + b # tuple addition 
print (type(c))
print(c) #tow type tuple data vale adding

<class 'tuple'>
(1, 2, 3, 4, 'nil', 'sapnil')

In [31]:
multipication_tuple = a*4 #tuple data multipication 
print(type(multipication_tuple))
print(multipication_tuple) # 4 value multipication

<class 'tuple'>
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [32]:
multipication_tuple.count(3) # count mathods tuple data result

4

In [36]:
multipication_tuple.index(4)

3

In [42]:
#membership 
print(multipication_tuple)
5 in multipication_tuple

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

False

In [43]:
print(a)
4 in a

(1, 2, 3, 4)

True

In [46]:
# for loop useing tuple data 
name =("sapnil ","saha","niloy",1,2,3,4,True,2.5,{"niloy saha"},[ "DU",1,2.5,True])
for i in name :
    print(i)

sapnil
saha
niloy
1
2
3
4
True
2.5
{'niloy saha'}
['DU', 1, 2.5, True]

In [50]:
name[-1][0] #index tuuple data last index in 0 index result DU

'DU'

In [51]:
print (type (name))

<class 'tuple'>