Python List Mathods elemetns changeable

In [33]:
# list data all data type allow 

my_list = [ 1,2,3,4,'ml',2.5,2025,("ai" ,"dl",4,3,2,1 ) ,{ "nil","niloy", "nilu "}]
print(type(my_list))

<class 'list'>

In [34]:
print(len(my_list))

9

In [35]:
my_list[7]

('ai', 'dl', 4, 3, 2, 1)

In [47]:
#copy Mathods list [ ]
print(my_list)

my_list2 = my_list

print(my_list2)
my_list[4]="data"

my_list3=my_list.copy()
print(my_list)
print(my_list2)
print(my_list3)

[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}]
[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}]
[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}]
[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}]
[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}]

In [64]:
#append mathods list [ ]
l1=[100,200]
#my_list.append(l1)
print(my_list)

[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}, [100, 200]]

In [65]:
my_list[-1]

[100, 200]

In [71]:
#extend mathods list [ ]
l2 = [10,20,30]
#my_list.extend(l2)
print(my_list)
my_list[ -1] 
my_list[-3]

[1, 2, 3, 4, 'data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}, [100, 200], 10, 20, 30]

10

In [72]:
#insert mathods list []
my_list.insert(5,"float data") #insert math fast index number the what data type value add you
print(my_list)

[1, 2, 3, 4, 'data', 'float data', 2.5, 2025, ('ai', 'dl', 4, 3, 2, 1), {'nilu ', 'nil', 'niloy'}, [100, 200], 10, 20, 30]

In [83]:
#index mathods list [ ]
my_list.index({'nilu ', 'nil', 'niloy'}) # show result index number

9

In [116]:
#count mathods list [ ]
x = [ 1,1,2,3,3,4,("nil","nilu","saha"),{"JU","DU","CU","RU"},("nil","nilu","saha"),{"JU","DU","CU","RU"},40,500,500,30,20]
print(type(x))
x.count({"JU","DU","DU","CU","RU","RU"}) #set type data list in 2 more so count result 2

<class 'list'>

2

In [113]:
#sort mathods list [ ]
y =[3,2,5,7,8,4,6,12,11,10,9]
y.sort()
print(y) #sort mathods just int type data allowed and seen result

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [117]:
#reversed mathods list []
x.reverse()
print (x) #show result

[20, 30, 500, 500, 40, {'DU', 'RU', 'JU', 'CU'}, ('nil', 'nilu', 'saha'), {'DU', 'RU', 'JU', 'CU'}, ('nil', 'nilu', 'saha'), 4, 3, 3, 2, 1, 1]

In [120]:
#remove mathods list []
#x.remove(500)
print(x)

[20, 30, 40, {'DU', 'RU', 'JU', 'CU'}, ('nil', 'nilu', 'saha'), {'DU', 'RU', 'JU', 'CU'}, ('nil', 'nilu', 'saha'), 4, 3, 3, 2, 1, 1]

In [121]:
#pop mathods list [ ]
x.pop(4) # pop just index allwed
print(x)

[20, 30, 40, {'DU', 'RU', 'JU', 'CU'}, {'DU', 'RU', 'JU', 'CU'}, ('nil', 'nilu', 'saha'), 4, 3, 3, 2, 1, 1]

In [123]:

print( y)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [128]:
#clear mathods list []
y.clear()

In [129]:
print(y)

[]